<h1>{{title}}</h1>
<p><a href="/fetch">Fetch</a>
<a href="/productview">Product View</a>
<a href="/query?q=color">Query Attributes</a>
<a href="/query/gpd?q=7385">Query Categories</a>
<a href="/test">Test Page</a></p>
