body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
}
a {
  color: #00B7FF;
}
table {
  display: flex;
  text-align: left;
}
.capitalize {
    text-transform: capitalize;
}
